<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Full Stack Web Developer with proven solutions delivery and analytical abilities.<br/><br/>
      Proficient in extracting client and business project requirements. <br/><br/>
      Enthusiastic about documentation and tracking projects at every step of the software and product development process. <br/><br/> 
      Highly adept in liaising with key stakeholders and team members to seamlessly execute and optimize solutions.<br/><br/> 
      Committed to excellence and building aesthetically stunning user experiences.</p>
  </div>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @sidebar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  <div class="sidebar-module">
    <h4>Connect</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/rohit-moza"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/rohit-moza/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://twitter.com/rohit_moza"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.facebook.com/rohit.moza"><%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->