<div class="app-card-container">
  <div class="card">
    <h1>About</h1>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", alt: "Profile Image", class: 'profile-img' %>
        <% if logged_in?(:site_admin) %> 
          <div id="createNewSkill">
            <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#newSkill"
              aria-expanded="false"
              aria-controller="newSkill"
              >
              Add New Skill
            </button>  
            <div class="collapse" id="newSkill">
              <%= form_for :skill, :url => { :controller => "skills", :action => "create" }, :html => {:method => :post}  do |form| %>
                <div class="form-group">
                  <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
                </div>
                <div class="form-group">
                  <%= form.number_field :percent_utilized, class: 'form-control', placeholder: '% Skill' %>
                </div>
                <div class="form-group">
                  <%= form.submit "Submit", class: 'btn btn-primary' %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4>
                <%= skill.title %> 
                <% if logged_in?(:site_admin) %> 
                  <%= link_to fa_icon('trash'), skill, method: :delete, data: { confirm: 'Are you sure you want to delete this skill?' } %>
                  <button
                    class="btn btn-primary"
                    type="button"
                    data-toggle="collapse"
                    data-target="#editSkill<%= skill.id %>"
                    aria-expanded="false"
                    aria-controller="editSkill<%= skill.id %>"
                  >
                    Edit
                  </button>
                <% end %>
              </h4>
              
              <div class="collapse" id="editSkill<%= skill.id %>">
                <%= form_with(model: skill, local: true) do |form| %>
                  <div class="form-group">
                    <%= form.text_field :title, id: skill.id, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= form.number_field :percent_utilized, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= form.submit "Submit", class: 'btn btn-primary' %>
                  </div>
                <% end %>
              </div>
              <div class="progress">
                <div 
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                >
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <%= about_me_content %>
        <%
=begin%>
 <div>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >
            Education
          </button> 
        </div>

        <div>
          <div class="collapse" id="jobHistory">
            <h2> Job History <%= fa_icon "briefcase" %></h2>
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>
          <div class="collapse" id="education">
            <h2> Education <%= fa_icon "university" %></h2>
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
          </div>
        </div> 
<%
=end%>
      </div>
    </div>
  </div>
</div>

